In [2]:
# Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
ourtuple = ("Google", "Facebook", "Amazon", "Microsoft")
print(ourtuple)

('Google', 'Facebook', 'Amazon', 'Microsoft')

In [5]:
# Tuple indexing
ourtuple = ("Google", "Facebook", "Amazon", "Microsoft")
print(ourtuple[3])

Microsoft

In [3]:
# Tuple negative indexing
ourtuple = ("Google", "Facebook", "Amazon", "Microsoft")

print(ourtuple[-1])

Microsoft

In [7]:
# Tuple range indexing
ourtuple = ["Google", "Facebook", "Amazon", "Microsoft", "Apple", "Oracle", "SAP", "Cisco", "Juniper"]
print(ourtuple[2:5])

['Amazon', 'Microsoft', 'Apple']

In [9]:
# Tuple range negative indexing
ourtuple = ["Google", "Facebook", "Amazon", "Microsoft", "Apple", "Oracle", "SAP", "Cisco", "Juniper"]
print(ourtuple[-4:-1])

['Oracle', 'SAP', 'Cisco']

In [13]:
# Tuple check if item exists
ourtuple = ["Google", "Facebook", "Amazon", "Microsoft", "Apple", "Oracle", "SAP", "Cisco", "Juniper"]
print("Is Google in the tuple?")
if "Google" in ourtuple:
    print("Yes, Google is in the list")
else:
    print("No, Google is not in the list")

Is Google in the tuple?
Yes, Google is in the list

In [3]:
# Convert tuple to lists
ourtuple = ("Google", "Facebook", "Amazon", "Microsoft", "Apple", "Oracle", "SAP", "Cisco", "Juniper")
print(ourtuple)

ourlist = list(ourtuple)

print(ourlist)

('Google', 'Facebook', 'Amazon', 'Microsoft', 'Apple', 'Oracle', 'SAP', 'Cisco', 'Juniper')
['Google', 'Facebook', 'Amazon', 'Microsoft', 'Apple', 'Oracle', 'SAP', 'Cisco', 'Juniper']

In [6]:
# Convert tuple to list using index
ourtuple = ("Google", "Facebook", "Amazon", "Microsoft", "Apple", "Oracle", "SAP", "Cisco", "Juniper")

ourlist = list(ourtuple)
ourlist[0] = "Twitter"

ourtuple = tuple(ourlist)

print(ourtuple)

('Twitter', 'Facebook', 'Amazon', 'Microsoft', 'Apple', 'Oracle', 'SAP', 'Cisco', 'Juniper')

In [8]:
# Unpacking tuple
ourtuple = ("Google", "Facebook", "Amazon", "Microsoft")
(red, green, blue, orange) = ourtuple
print(red)
print(green)
print(blue)
print(orange)

Google
Facebook
Amazon
Microsoft

In [9]:
# Iterating over tuples
ourtuple = ("Google", "Facebook", "Amazon", "Microsoft")
for i in ourtuple:
    print(i)

Google
Facebook
Amazon
Microsoft

In [11]:
# Iterating over tuples using while loop
ourtuple = ("Google", "Facebook", "Amazon", "Microsoft")
i = 0
while i < len(ourtuple):
    print(ourtuple[i])
    i += 1

Google
Facebook
Amazon
Microsoft

In [12]:
# Joining tuples
ourtuple = ("Google", "Facebook", "Amazon", "Microsoft")
ourtuple2 = (1, 2, 3, 4)

print(ourtuple + ourtuple2)

('Google', 'Facebook', 'Amazon', 'Microsoft', 1, 2, 3, 4)

In [13]:
# Multiply tuples
ourtuple = ("Google", "Facebook", "Amazon", "Microsoft")    
mytuple = ourtuple * 3
print(mytuple)

('Google', 'Facebook', 'Amazon', 'Microsoft', 'Google', 'Facebook', 'Amazon', 'Microsoft', 'Google', 'Facebook', 'Amazon', 'Microsoft')