In [5]:
myset = {"Youtube", "Google", "Facebook"}
print(myset)

{'Facebook', 'Google', 'Youtube'}

In [1]:
# The remove method

myset = {"Youtube", "Google", "Facebook"}

myset.remove("Youtube")

print(myset)

{'Facebook', 'Google'}

In [4]:
# The discard method
myset = {"Youtube", "Google", "Facebook"}
myset.discard("Youtube")
print(myset)

{'Facebook', 'Google'}

In [3]:
# The clear method
myset = {"Youtube", "Google", "Facebook"}
print(myset)
myset.clear()
print(myset)

{'Google', 'Facebook', 'Youtube'}
set()

In [ ]:
# The delete method
myset = {"Youtube", "Google", "Facebook"}

del myset

print (myset)

In [2]:
# Loop Sets
myset = {"Youtube", "Google", "Facebook"}

for x in myset:
    print(x)

Google
Youtube
Facebook

In [9]:
# Join sets using the update method

myset = {"Youtube", "Google", "Facebook"}

myset2 = {"Twitter", "Instagram"}

myset.update(myset2)
print(myset)

{'Google', 'Twitter', 'Instagram', 'Facebook', 'Youtube'}

In [6]:
# Join sets using the union method
myset = {"Youtube", "Google", "Facebook"}

myset2 = {"Twitter", "LinkedIn"}

myset3 = myset.union(myset2)

print(myset3)

{'Google', 'Twitter', 'Facebook', 'LinkedIn', 'Youtube'}

In [10]:
# Join sets using the union operator

myset = {"Youtube", "Google", "Facebook"}
myset2 = {"Twitter", "Instagram"}

myset3 = myset | myset2
print(myset3)  # Output: {'Youtube', 'Google', 'Facebook', 'Twitter', 'Instagram'}

{'Google', 'Twitter', 'Instagram', 'Facebook', 'Youtube'}

In [14]:
# Join sets using the intersection_update method
myset = {"Youtube", "Google", "Facebook"}
myset2 = {"Facebook"}
myset3 = {"Youtube", "Facebook"}

myset.intersection_update(myset2, myset3)

print(myset)

{'Facebook'}

In [18]:
# Join sets using the intersection method
myset = {"Youtube", "Google", "Facebook"}
myset2 = {"Facebook", "Youtube", "Facebook"}

myset3= myset.intersection(myset2)

print(myset3)

{'Youtube', 'Facebook'}

In [20]:
# add(element) - Adds an element to the set.
myset = {1, 2}
myset.add(3)
print(myset)

{1, 2, 3}

In [21]:
# clear() - Removes all elements from the set.
myset = {1, 2, 3}
myset.clear()
print(myset)

set()

In [22]:
# copy() - Returns a shallow copy of the set.
myset = {1, 2, 3}
newset = myset.copy()
print(newset)

{1, 2, 3}

In [24]:
# difference(other_set) - Returns a set containing the difference between two sets.
myset = {1, 2, 3}
result = myset.difference({2, 3})
print(result)

{1}

In [26]:
# difference_update(other_set) - Removes all elements found in another set from the original set.
myset = {1, 2, 3}
myset.difference_update({2, 3})
print(myset)

{1}

In [28]:
# discard(element) - Removes an element from the set if it exists.
myset = {1, 2, 3}
myset.discard(2)
print(myset)

{1, 3}

In [29]:
# intersection(other_set) - Returns a set containing the intersection of two sets.
myset = {1, 2, 3}
result = myset.intersection({2, 3})
print(result)

{2, 3}

In [30]:
# intersection_update(other_set) - Updates the set with the intersection of itself and another set.
myset = {1, 2, 3}
myset.intersection_update({2, 3})
print(myset)

{2, 3}

In [31]:
# isdisjoint(other_set) - Returns True if two sets have no elements in common.
myset = {1, 2}
result = myset.isdisjoint({3, 4})
print(result)

True

In [32]:
# issubset(other_set) - Returns True if the set is a subset of another set.
myset = {1, 2}
result = myset.issubset({1, 2, 3})
print(result)

True

In [33]:
# pop() - Removes and returns an arbitrary element from the set. Raises an error if the set is empty.
myset = {1, 2, 3}
element = myset.pop()
print(element)

1

In [34]:
# remove(element) - Removes the specified element from the set. Raises an error if the element does not exist.
myset = {1, 2, 3}
myset.remove(2)
print(myset)

{1, 3}

In [35]:
# symmetric_difference(other_set) - Returns a set containing the symmetric difference of two sets.
myset = {1, 2, 3}
result = myset.symmetric_difference({3, 4})
print(result)

{1, 2, 4}

In [36]:
# symmetric_difference_update(other_set) - Updates the set with the symmetric difference of itself and another set.
myset = {1, 2, 3}
myset.symmetric_difference_update({3, 4})
print(myset)

{1, 2, 4}

In [37]:
# union(other_set) - Returns a set containing the union of sets.
myset = {1, 2}
result = myset.union({2, 3})
print(result)

{1, 2, 3}

In [38]:
# update(other_set) - Updates the set with the union of itself and others.
myset = {1, 2}
myset.update({2, 3})
print(myset)

{1, 2, 3}